<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.WidgetWallPaper">
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="15"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <receiver android:name=".WallPaper">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="com.templates.widget.WidgetProvider.ACTION_WIDGET_BUTTON1"/>
                <action android:name="com.templates.widget.WidgetProvider.ACTION_WIDGET_BUTTON3"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/manifest"/>
        </receiver>
        <activity android:name=".ButActiv" android:screenOrientation="portrait"></activity>
        <activity android:name=".FormGallery" android:screenOrientation="portrait"></activity>
        <service android:name=".WallService"></service>
    </application>
</manifest>
